.about {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 200px;
}
img {
  width: 500px;
  height: auto;
  border-radius: 10%;
}
p {
  color: rgb(20, 20, 26);
  font-size: medium;
  font-style: oblique;
}